body {
    color: aliceblue;
    font-family: Arial, Helvetica, sans-serif;
    background: url("../imagens/astronaut-nasa-usa-moon-lunar-surface-spacesuit-space-2700x2700-1236.jpg") right top fixed;
    background-color: #36364248;
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: scroll;
    background-size: 150%;
}

.fundo {
    margin-left: 25%;
    margin-right: 24%;
    background-color: #36364289;
}

#letraG {

    font-size: 30px
}

#botao {

    background-color: #610000;
    border-radius: 5px;
    color: white;
    width: 250px;
    height: 60px;
    font-size: 30px;
    border: none;
    transition: transform 150ms ease-in-out;

}

#botao:hover {
    transform: scale(1.22);
    color: white;
    cursor: pointer;
    background-color: #2e0000;


}

table {

    margin-right: 50%;
    margin-left: 50%;

}

.nasa {
    color: red;
    font-size: 100px;
    text-align: center;



}

.gradiente {
    width: 100%;
    height: 200px;
    background-image: linear-gradient(#610000, #36364200);
    margin-right: auto;
    margin-left: auto;

}
h2{
    text-align: center;
    font-size: 60px;
    color: #4747d2; 
}
h3{
    text-align: center;
    font-size: 30px;
    color:crimson;
}

iframe{
    ruby-align: auto;
    width: 100%;
    height: 600px;
    border-radius: 20px;
}